.featured-item {
    background-image: url('../../../assets/grece.png');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; /* Ensure the section takes up full height if needed */
}
